<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard_style.css') }}">
</head>
<body>
    <div class="nav">
        <div class="logo">
            <span>🫁</span> PulmoScan
        </div>
        <div class="nav-links">
             <a href="{{ url_for('dashboard') }}">Dashboard</a>
             <a href="{{ url_for('home') }}">Home</a>
             <a href="{{ url_for('about') }}">About</a>
             <a href="{{ url_for('logout') }}" style="color: #ff6b6b;">Logout</a>
            </div>
    <div class="tog">
        <div class="profile">
            <img src="https://i.pravatar.cc/100">
            <span>{{user_name}}</span>
        </div>
         <div class="hamburger">
            <img src="{{ url_for('static', filename='images/Hamburger.svg') }}" alt="">
        </div>
     <div class="mobile-menu">

        <div class="close-menu">✕</div>

         <a href="{{ url_for('dashboard') }}">Dashboard</a>
         <a href="{{ url_for('home') }}">Home</a>
         <a href="{{ url_for('about') }}">About</a>
         <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </div>
    </div>
    <div class="hero">
        <div class="head">
            <p><span>{{ user_name.split()[0] }}</span>, ready to Scan?</p>
            <article>AI-Powered Lung Analysis - Early Detection helps a lot.</article>
        </div> 
        <div class="card">
            <div class="card-logo">
                🫁
            </div>
            <p>Drag & Drop your CT scan</p>
            <span>Supports JPF,PNG,DICOM</span>
            <form action="{{url_for('dashboard')}}" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" required style="margin: 10px 0;">
            <button type="submit">Upload & Analyze</button>
            </form>
        </div>
        <div class="stats">
            <div class="stat-card" id="one">
                Previous Scans
                <h3>{{scan_count}}</h3>
            </div>
            <div class="stat-card" id="two">
                Accuracy
                <h3>{{avg_accuracy}}</h3>
            </div>
        </div>
    </div>
    <script>

const hamburger = document.querySelector(".hamburger");
const mobileMenu = document.querySelector(".mobile-menu");
const closeMenu = document.querySelector(".close-menu");

hamburger.addEventListener("click", () => {
    mobileMenu.classList.add("active");
});

closeMenu.addEventListener("click", () => {
    mobileMenu.classList.remove("active");
});

</script>
</body>
</html>  