<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="nav">
        <div class="header">
            <header class="logo">
                <a href="" class="nav-link"><img src="./images/StudySyn.svg" alt="" class="logo-icon"/></a>
                <a href="" class="nav-link">
                    <p class="logo-tex">StudySync</p>
                </a>
            </header>
        </div>
            <div class="navi">
                <a href="" class="nav-link">Home</a>
                <a href="" class="nav-link">Features</a>
                <a href="" class="nav-link">Prices</a>
                <a href="" class="nav-link">Blog</a>
                <a href="" class="nav-link">About</a>
            </div>
            <div class="contact">
                <p>Contact Us</p>
            </div>
            <button class="menu-button" aria-label="Open menu">
            <img src="./images/Hamburger.svg" alt="">
             
            </button>
    </div>
    <div class="hero">
        <div class="left">
            <div class="txt">
            <p id="one">Very proud to introduce</p>
            <p id="two">Seamlesss Learning for brighter Futures</p>
            </div>
            <span>
                Our innovative platform offers an effortless and seamless approach to
                learning,empowering students of all ages to achieve brighter futures. Join
                us on a transformative journey to simplify education and unlock your full poten
                tial.
            </span>
       
            <div class="buttons">
                <button id="button1">
                    Strat now
                </button>
                <button id="button2">
                    Take Tour
                </button>
            </div>
        </div>
        <div class="right">
            <img src="./images/usgs-hoS3dzgpHzw-unsplash.jpg" alt="">
        </div>
    </div>
    <div class="subsec">
        <div class="txt2">
            <p>Trusted by the best</p>
        </div>
        <div class="company">
            <div id="com">
                <div class="img"><img src="./images/Google.svg" alt=""></div>
                <p>Google</p>
            </div>
            <div id="com">
                <div class="img"><img src="./images/Microsoft.svg" alt=""></div>
                <p>Microsoft</p>
            </div>
            <div id="com">
                <div class="img"><img src="./images/linkedin.svg" alt=""></div>
                <p>Linkedin</p>
            </div>
             <div id="com">
                <div class="img"><img src="./images/VectorEdu.svg" alt=""></div>
                <p>VectorEdu</p>
            </div>
        </div>
    </div>
    <div class="main">
    <div class="cards">
         <div class="text">
            <p>Our competitive advantage</p>
            <span>This is a section of some simple filler text, also known
                as placeholer text. It shares some characteristics of real
                written text but is random or otherwise generated.
            </span>
         </div>
         <div class="card">
         <div class="card1">
         <div class="box">
            <div class="img">
                <img src="./images/PersonalizedLearn.svg" alt="">
            </div>
                <p>Personalized Learning</p>
                <span>Offer tailored learning experiences through
                    AI and machine learning to cater to individual needs
                </span>
            
         </div>
         </div>
         <div class="card2">
         <div class="box">
            <div class="img">
                <img src="./images/Affordability.svg" alt="">
            </div>
                <p>Personalized Learning</p>
                <span>Offer tailored learning experiences through
                    AI and machine learning to cater to individual needs
                </span>
            
         </div>
         </div>
         <div class="card3">
         <div class="box">
            <div class="img">
                <img src="./images/IndustryPatner.svg" alt="">
            </div>
                <p>Personalized Learning</p>
                <span>Offer tailored learning experiences through
                    AI and machine learning to cater to individual needs
                </span>
            
         </div>
         </div>
         <div class="card4">
         <div class="box">
            <div class="img">
                <img src="./images/InnovativeTech.svg" alt="">
            </div>
                <p>Personalized Learning</p>
                <span>Offer tailored learning experiences through
                    AI and machine learning to cater to individual needs
                </span>
            
         </div>
         </div>
         <div class="card5">
         <div class="box">
            <div class="img">
                <img src="./images/Analytics.svg" alt="">
            </div>
                <p>Personalized Learning</p>
                <span>Offer tailored learning experiences through
                    AI and machine learning to cater to individual needs
                </span>
            
         </div>
         </div>
         <div class="card6">
         <div class="box">
            <div class="img">
                <img src="./images/Analytics.svg" alt="">
            </div>
                <p>Personalized Learning</p>
                <span>Offer tailored learning experiences through
                    AI and machine learning to cater to individual needs
                </span>
            
         </div>
         </div>
        </div>
    </div>
    </div>
    <!-- <div class="news-letter">
        <div class="wrop">
        <div class="text">
            <p>What Others Say About Us</p>
        </div>
        <div class="main">
            <div class="car1" id="one">
                <div class="txt">
                    "StudySync revolutionized my classroom! Engaging 
                    content and teacher resources make learning enjoyable.
                    Highly recommended for educators."
                </div>
                <div class="icon">
                    <div class="icon-log">
                        <img src="./images/avatar1.png" alt="">
                    </div>
                    <div class="icon-header">
                        <p>Sarah Johnson</p>
                        <span>8th Grade English Teacher</span>
                    </div>
                </div>
            </div>
            <div class="car2" id="two">
                <div class="txt">
                    "StudySync transformed out family's learning journey.
                    Safe,interactive and progress tracking features are invaluable
                    for parents."
                </div>
                <div class="icon">
                    <div class="icon-log">
                        <img src="./images/avatar2.png" alt="">
                    </div>
                    <div class="icon-header">
                        <p>Mark Davis</p>
                        <span>Parent</span>
                    </div>
                </div>
            </div>
            <div class="car3" id="three">
                <div class="txt">
                    "StudySync, a true game-changer! Flexible content, tailored assessments
                    and excellent support.Intgral to our school district's success"
                </div>
                <div class="icon">
                    <div class="icon-log">
                        <img src="./images/avatar3.png" alt="">
                    </div>
                    <div class="icon-header">
                        <p>Dr. James Carter</p>
                        <span>School Administrator</span>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

     <div class="news-letter">
        <div class="text">

        </div>
     </div> -->
    <div class="ultra">
    <div class="news-letter">
        <p>What Others Say About Us</p>
        <div class="rectangles">
            <div class="rec1" id="one">
               <p>"StudySync revolutionized my classroom! Engaging 
                    content and teacher resources make learning enjoyable.
                    Highly recommended for educators."</p>
                <div class="logo-img">
                      <img src="./images/avatar1.png" alt="">
                </div>
                <div class="logo-des">
                    <p>Sarah Johnson</p>
                    <span>8th Grade English Teacher</span>
                </div>
            </div>
            <div class="rec2" id="two">
               <p>"StudySync revolutionized my classroom! Engaging 
                    content and teacher resources make learning enjoyable.
                    Highly recommended for educators."</p>
                <div class="logo-img">
                      <img src="./images/avatar2.png" alt="">
                </div>
                <div class="logo-des">
                    <p>Mark Davis</p>
                    <span>Parent</span>
                </div>
            </div>
            <div class="rec3" id="three">
               <p>"StudySync revolutionized my classroom! Engaging 
                    content and teacher resources make learning enjoyable.
                    Highly recommended for educators."</p>
                <div class="logo-img">
                      <img src="./images/avatar3.png" alt="">
                </div>
                <div class="logo-des">
                    <p>Dr.James Carter</p>
                    <span>School Administrator</span>
                </div>
            </div>
        </div>
    </div>
   </div>
    <div class="news">
         <div class="lef">
            <img src="./images/img.png" alt="">
         </div>
         <div class="rig">
            <div class="khep">
            <div class="text">
                <p>Get the latest updates</p>
                <span>Sign up for our newsletter</span>
            </div>
            <form action="">
                <input type="email" placeholder="Email">
                <button>Send</button>
            </form>
            <footer>
                By signing up to our newsletter you agree to our 
                <a href="#">Term of Service</a> and <a href="#">
                Privacy Policy</a>
            </footer>
         </div>
         </div>
    </div>
    <div class="last">
        <div class="le">
          <div class="log">
             <div class="logo-icon">
                <img src="./images/StudySyn.svg" alt="">
             </div>
             <div class="logo-text">
                <p>StudySync</p>
             </div>
          </div>
          <div class="text">
            Seamless Learning for Brighter Futures
          </div>
          <div class="icons">
            <img src="./images/instagram.svg" alt="">
            <img src="./images/twitter.svg" alt="">
            <img src="./images/linkedin.svg" alt="">
            <img src="./images/github.svg" alt="">
          </div>
        </div>
        <div class="righ">
            <div class="products">
                <p>Products</p>
                <a href="#">Overview</a>
                <a href="#">Solutions</a>
                <a href="#">Pricing</a>
                <a href="#">Customers</a>
            </div>
            <div class="company-foot">
                <p>Company</p>
                <a href="#">About</a>
                <a href="#">Investor Relations</a>
                <a href="#">Jobs</a>
                <a href="#">Press</a>
                <a href="#">Blog</a>
            </div>
            <div class="support">
              <p>Support</p>
              <a href="#">Contact</a>
              <a href="#">Documentation</a>
              <a href="#">Chat</a>
              <a href="#">FAQ</a>
            </div>
            <div class="legal">
                <p>Legal</p>
                <a href="#">Terms of Service</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Cookie Settings</a>
            </div>
        </div>
    </div>
    <div class="sesh">
    <footer>
        <p>&copy; 2021-Present StudySync.All rights reserved.</p>
    </footer>
    </div>
</body>
</html>